
#logo {
  width: 248px;
  height: 104px;
  position: relative;
}

.navbar-toggler {
  margin-top: 15px;
}

// Top bar style
.top-bar{
    padding-top: 25px;
    @include media-breakpoint-down(sm){
        float: right;
        padding-top: 7px;
    }
    > span{
        margin-top: 10px;
        display: inline-block;
    }
    @include media-breakpoint-up(lg){        
        padding-right: 45px;
        padding-left: 45px;
    }
}

.top-right-link-wrap{
    @include media-breakpoint-down(sm){
        text-align: right;        
        max-width: 115px;
        .signin{padding-right: 0;}
        .search-form{
            margin-top: 8px;
            margin-left: 9px;
        }
        .header-search-triger{
            width: 14px;    
            height: 14px;
            text-indent: 999px;
            padding: 0 !important;
            background-size: contain;            
        }
    }
    a{
        display: inline-block;
        padding: 0px 15px;
        margin-top: 10px;
        position: relative;
        &:before{
            position: absolute; 
            left: -3px; 
            top: 50%;
            @include transform(translateY(-50%));
            content: "";
            height: 10px;
            width: 2px;
            background: $base-text;
        }
        &:first-child{
            &:before{
                opacity: 0;
                visibility: hidden;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 0px 7px;
            &::before{
                height: 6px;
            }
            &.cart{
                clear: both;
                width: 17px;
                height: 15px;
                padding: 0;
                text-indent: 99999px;
                overflow: hidden;
                margin-top: 8px;
                background-image: url(../img/cart-icon.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
        }
    }
}
.search-form{
    margin-left: 13px;
    margin-top: 10px;
    display: inline-block;
}

.header-search-triger{
    padding-left: 16px !important;
    background-image: url(../svg/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 12px 12px;
    background-color: transparent;
    border: 0;
    outline: none;
    &:focus{
        outline: none;
    }
}
