$heroHeight: 565px;
$heroHeightMobi: 126px;

.hero-slider{
    .slick-arrow{
        width: 0; 
        height: 0;
        overflow: hidden;
        &.slick-prev:before, 
        &.slick-next:before{
            opacity: 0;
            visibility: hidden;
        }
    }
}
.slider-wrap{
    min-height: $heroHeight;
    @include media-breakpoint-down(sm){
        min-height: $heroHeightMobi;
    }
    @extend %bgProperty;
    .container{
        min-height: $heroHeight;
        @include media-breakpoint-down(sm){
            min-height: $heroHeightMobi;
        }
    }
    .slider-caption-wrap{
        bottom: 63px;
        left: 36px;
        @include media-breakpoint-down(sm){
            left: 15px;
            right: 15px;
            bottom: 23px;
        }
    }
}

.slider-caption-inner{
    border: 2px solid $base-bg;
    padding: 7px;
    display: inline-block;
}
.slider-caption{
    background-color: rgba(255, 255, 255, 0.76);
    padding: 30px 40px;
    @include media-breakpoint-down(sm){
        padding: 13px 15px;
    }
    h3{
        text-transform: uppercase;
        margin-bottom: 0;
    }
    h5{
        margin-bottom: 0;
        @include media-breakpoint-down(sm){
            //margin-bottom: 10px;
        }
    }
    .play-video{
        width: 73px; 
        height: 73px;
        border-radius: 50%;
        margin-right: 40px;
        img{
            max-width: 100%;
        }
        @include media-breakpoint-down(sm){
            /*display: block;
            margin: 0 auto;
            clear: both;*/
            width: 20px; 
            height: 20px;
            margin-right: 12px;
            display: inline-block;
        }
    }
    .caption-content{
        @include media-breakpoint-down(sm){
            /*width: 100%;
            margin-top: 30px;*/
            display: inline-block;
        }
    }
}

.hero-slider-cotroller{
    left: 0; right: 0; top: 0; bottom: 0;
    .container{
        min-height: $heroHeight;
        @include media-breakpoint-down(sm){
            min-height: $heroHeightMobi;
        }
    }
}

.slick-arrow, 
.slick-arrow{
    position: absolute;
    left: 0;
    z-index: 5;
    top: 50%;
    width: 38px;
    height: 38px;
    padding: 0;
    @include transform(translateY(-50%));
    border: none;
    background: transparent;
    outline: none;
    &:focus{
        outline: none;
    }
    &.next{
        left: auto;
        right: 0;
    }
    @include media-breakpoint-down(sm){ 
        width: 11px;
        height: 11px;
        &::before,
        &::after{
            width: 11px !important;
            height: 11px !important;
        }
    }
}

.slick-prev, 
.slick-next{
    width: 38px; 
    height: 38px;
    @include media-breakpoint-down(sm){ 
        width: 11px;
        height: 11px;
    }
}

.hero-section{
    min-height: $heroHeight;
    @include media-breakpoint-down(sm){
        min-height: $heroHeightMobi;
    }
    @extend %bgProperty;
}