// Colors
$base-text: #414042;
$base-bg: #ffffff;
$light-gray: rgba(247, 246, 246, 0.4);
$body-link-color: #daa92c;
$box-shadow: inset 0 1px 8px 0 rgba(0, 0, 0, 0.48);
$gray-border: #979797;

body{
    color: $base-text;
    background-color: $base-bg;
}

// Header top right link color
.top-right-link-wrap{
    a{
        color: $base-text;
    }
}

// Header nav color 
.nav-link{
    color: $base-text;
}

// Body link color
.body-link{
    color: $body-link-color;
}

.bg-light-gray{
    @extend %bgLightGray;
}


// Footer link color
.footer-widget{
    ul{
        li{
            a{
                color: $base-text;
            }
        }
    }
}