/* About section style */
.about-section{
    padding-top: 6px;
    h6{
        text-align: center;
        margin-top: 35px;
    }
    .logo-wrap{
        margin-top: 25px;
        padding: 0 11px;
        .logo{
            text-align: center;
        }
    }
}

.why-buy-from-us{
    margin-top: 35px; 
    padding: 35px 0;
    h3{
        text-align: center;
        text-transform: uppercase;
        @include media-breakpoint-down(sm){
            padding: 0 15px;
        }
    }
}

/* Feature item section style */
.feature-item{
    margin-top: 20px;
    padding: 0;
    .carousel-figure{
        float: left;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        margin-right: 30px;
        @include media-breakpoint-down(md){
            clear: both;
        }
        @include media-breakpoint-down(sm){
            clear: none;
        }
    }
    .content{
        float: left;
        width: -webkit-calc(100% - 103px);
        width: calc(100% - 103px);
        padding-right: 20px;
        @include media-breakpoint-down(md){
            width: 100%;
            margin-top: 30px;
        }
        @include media-breakpoint-down(sm){
            width: -webkit-calc(100% - 103px);
            width: calc(100% - 103px);
            margin-top: 0px;
        }
        p{
            line-height: 19px;
        }
        span{
            margin-bottom: 10px;
            display: block;
        }
    }
}

/* Discover section style */
.discover-section{
    padding-top: 6px;
    padding-bottom: 78px;
    .grid-item{
        position: relative;
        @include grid(1, 0);
        margin-top: 50px;
        text-align: center;
        @include media-breakpoint-up(md){
            
            &:nth-child(n){
                margin-right: 3.787878787878788%;
            }
            @include grid(2, 3.787878787878788%);
        }
        @include media-breakpoint-up(lg){
            &:nth-child(n){
                margin-right: 3.787878787878788%;
            }
            @include grid(4, 3.787878787878788%);
        }
        @include media-breakpoint-up(xl){
            &:nth-child(n){
                margin-right: 3.787878787878788%;
            }
            @include grid(5, 3.787878787878788%);
        }
        h2{
            padding-top: 59px;
            padding-bottom: 58px;
            margin-bottom: 68px;
            text-align: center;
            border: 2px solid $base-text;
            border-left: 0;
            border-right: 0;
            span{
                display: block;
            }
        }
        a{
            display: block;
            padding: 11px 10px 7px;
            text-align: center;
            background-color: $base-text;
            color: $white;
            position: absolute;
            left: 0; 
            bottom: 0;
            width: 100%;
        }
    }   
}

/* Meet art section style */
.meet-art-section{
    padding: 0 0 35px;
    .lead-text-wrap{padding-top: 35px;}
}

/* Testimonial section style */
.testimonial-section{
    padding-top: 50px;
    h6{
        text-align: center;
        margin-bottom: 30px;
    }
    .testimonial-carousel{
        padding: 0 68px;
        @include media-breakpoint-down(sm){
            padding: 0 40px;
        }
        .content{
            padding-left: 42px;
            padding-right: 25px;
            position: relative;
            &:before{
                position: absolute;
                left: 0; 
                top: 0;
                content: "";
                width: 17px; 
                height: 14px;
                background-image: url(../img/quote-left-icon.png);
                @extend %bgProperty;
            }
            @include media-breakpoint-down(sm){
                padding-left: 25px;
                padding-right: 0;
            }
        }
        cite{
            font-style: normal;
            padding-top: 15px;
            display: block;
        }
    }
}