.artist-item-wrap{
    padding-top: 10px;
}
.artist{
    padding-top: 30px;
    h5{
        margin-bottom: 10px;
        margin-top: 25px;
        @include media-breakpoint-down(sm){
            margin-bottom: 3px;
        }
    }
    p{
        margin-bottom: 5px;
    }
    
    .body-link{
        line-height: 18px;
        display: inline-block;
    }
}