.artist-item-wrap{
    padding-top: 10px;
}
.artist{
    padding-top: 30px;
    h5{
        margin-bottom: 10px;
        margin-top: 25px;
    }
    
    .body-link{
        line-height: 18px;
        display: inline-block;
    }
}