.navbar{
    padding-top: 30px;
    padding-bottom: 25px;
    @include media-breakpoint-up(md){
        padding-right: 60px;
        padding-left: 60px;
    }
}

.navbar-light{
    .navbar-nav{
        .nav-link{
            color: $base-text;
        }
    }
}

.navbar-nav{
    justify-content: space-between;
    @include media-breakpoint-up(md){
        width: 85%;
    }
    @include media-breakpoint-up(xl){
        width: 70%;
    }
    .nav-link{
        padding: 0 !important;
    }
}