.navbar{
    padding-top: 25px;
    padding-bottom: 25px;
    @include media-breakpoint-up(lg){
        padding-right: 45px;
        padding-left: 45px;
    }
    @include media-breakpoint-down(md){
        padding-right: 0;
        padding-left: 0;
    }
}

.navbar-light{
    .navbar-nav{
        .nav-link{
            color: $base-text;
        }
    }
}

.navbar-nav{
    justify-content: space-between;
    @include media-breakpoint-up(md){
        width: 85%;
    }
    @include media-breakpoint-up(xl){
        width: 70%;
    }
    .nav-link{
        padding: 0 !important;
    }
}

.navbar-brand{
    @include media-breakpoint-down(md){
        width: 160px;
    }
}

#navbarMobile{
    @include media-breakpoint-down(sm){
        clear: both;
        width: 100%;
        .navbar-nav{
            padding-top: 30px;
            .nav-item{
                margin: 10px 0;
            }
        }
    }
}